


/* COLORS  */

.my-bg-blue{
    background-color: #3472E0 ;
}

.my-bg-aside{
    background-color: #0C1E32;
}


/* GENERALS */

img{
    width: 100%;
}

.my-font-size{
    font-size: 0.7em;
}

.my-p-10{
    padding-right:10px ;
}

.my-p-25{
    padding-right:25px ;
}

.my-p-20{
    padding-right:20px ;
}
/* HEADER  */

#my-header{
    height: 60px;
    width: 100%;
}

/* MAIN  */

#my-section{
    height: calc(100vh - 60px);
}
    

.img-logo{
    max-width: 35px;
}

.search{
    width: 100%;
    height: 35px;
    position:relative;
    border-radius: 5px;  
}

/* HEADER DEL MAIN  */

.my-border{
    background-color: #285BB4;
    border-radius: 15px;
    padding: 4px;
}
.my-border-rounded{
    background-color: #285BB4;
    border-radius: 50%;
    padding: 4px 7px;
}


.my-border-plus{
    border-radius: 30%;
    padding: 0 7px;
    border: 1px solid white;
}
 /* ASIDE  */
 section aside nav ul li a {
    text-decoration: none;
    
    font-style: none;
    color:white;
    padding: 20px 20px 20px 0px;
 }
 
aside{
    background-image: url(../img/sidebar-bg.png);
}

/* MAIN  */

.my-border-icon{
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #828282;
}
/* HOVER  */
section aside nav ul li:hover > a{
    
        opacity: 0.5;
      
}

main section ul li div:hover > i {
    opacity: 0.5;
}
 /* DEBUG */

 