


/* COLORS  */

.my-bg-blue{
    background-color: #3472E0 ;
}

.my-bg-aside{
    background-color: #0C1E32;
}

/* GENERALS */


img{
    width: 100%;
}
/* HEADER  */

#my-header{
    height: 60px;
    width: 100%;
}

/* MAIN  */

#my-section{
    height: calc(100vh - 60px);
}
    

.img-logo{
    max-width: 35px;
}

.search{
    width: 100%;
    height: 35px;
    position:relative;
    border-radius: 5px;
    
}
 /* ASIDE  */
 section aside nav ul li a {
    text-decoration: none;
    font-style: none;
    color:white;
    padding: 20px 20px 20px 0px;
 }
aside{
    background-image: url(../img/sidebar-bg.png);
}


/* HOVER  */
section aside nav ul li:hover > a{
    
        opacity: 0.5;
      
}

 /* DEBUG */

 